services:
  {{ takel_ship_dind_docker_service['name'] }}:
    container_name: ${TAKELSHIP_DOCKER_DIND_CONTAINER_NAME:-{{ takel_ship_dind_docker_service['name'] }}}
    hostname: ${TAKELSHIP_DOCKER_DIND_HOSTNAME:-{{ takel_ship_dind_docker_service['name'] }}}
    image: ${TAKELSHIP_DOCKER_DIND_IMAGE:-{{ takel_ship_dind_docker_image['alias'] }}:{{ takel_ship_dind_docker_image['tag'] }}}
    restart: ${TAKELSHIP_DOCKER_DIND_RESTART:-always}
    command: {{ takel_ship_dind_command }}
    volumes:
      - ${TAKELSHIP_DOCKER_DIND_SOCKET:-{{ takel_ship_podman_socket['file'] }}}:/var/run/docker.sock:z
    ports:
      - ${TAKELSHIP_DOCKER_DIND_PORT:-{{ takel_ship_dind_docker_port['port'] }}}:2375
