{{ takel_ship_scripts_shebang }}

# debug create podman socket
{{ takel_ship_scripts_script_pod['name'] }} "podman system service --time=0 {{ takel_ship_dind_podman_socket['socket'] }} &"

# debug forward podman socket
{{ takel_ship_scripts_script_pod['name'] }} "{{ takel_ship_dind_docker_socat_command }} &"

# create users and forwards
{% for service in takel_ship_compose_services %}
{% if 'podman' in service['profiles'] %}
{% if 'dind' in service %}
{% if 'instances' in service %}
{% for instance in range(service['instances']) %}
{{ takel_ship_dind_script_add_user['name'] }} dind-{{ service['dind'] + instance }} {{ service['dind'] + instance }}
{% endfor %}
{% else %}
{{ takel_ship_dind_script_add_user['name'] }} dind-{{ service['dind'] }} {{ service['dind'] }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
