{{ takel_ship_scripts_shebang }}

echo Create podman socket
{{ takel_ship_scripts_script_pod['name'] }} "podman system service --time=0 {{ takel_ship_dind_podman_socket['socket'] }} &"

echo Forward podman socket
{{ takel_ship_scripts_script_pod['name'] }} "{{ takel_ship_dind_podman_socat_command }} &"

echo Change socket permissions
{{ takel_ship_scripts_script_pod['name'] }} "chmod a+rw {{ takel_ship_dind_podman_socket['file'] }}"
