version: 0.1
log:
  fields:
    service: registry
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /var/lib/registry
http:
  addr: :5000
  headers:
    X-Content-Type-Options: [nosniff]
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
notifications:
  endpoints:
    - name: {{ takel_ship_registry_ui_service['name'] }}
      url: http://registry-ui:8000/event-receiver
      headers:
        Authorization: [ Bearer Eed2oajoo0eiyierehiob8Sai9ohNou8Afiiphei ]
      timeout: 1s
      threshold: 5
      backoff: 10s
      ignoredmediatypes:
        - application/octet-stream
