---
services:
  registry:
    container_name: ${TAKELSHIP_REGISTRY_CONTAINER_NAME:-registry}
    hostname: ${TAKELSHIP_REGISTRY_HOSTNAME:-registry}
    image: ${TAKELSHIP_REGISTRY_IMAGE:-{{ takel_ship_registry_image['name'] }}:{{ takel_ship_registry_image['tag'] }}}
    restart: ${TAKELSHIP_REGISTRY_RESTART:-{{ takel_ship_registry_restart }}}
    volumes:
      - ${TAKELSHIP_REGISTRY_DATA_DIR:-./data}:/var/lib/registry
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "${TAKELSHIP_REGISTRY_HTTP_PORT:-{{ takel_ship_registry_http_port }}}:5000"
