---
services:
  {{ takel_ship_registry_ui_service['name'] }}:
    container_name: ${TAKELSHIP_REGISTRY_UI_CONTAINER_NAME:-{{ takel_ship_registry_ui_service['name'] }}}
    hostname: ${TAKELSHIP_REGISTRY_UI_HOSTNAME:-{{ takel_ship_registry_ui_service['name'] }}}
    image: ${TAKELSHIP_REGISTRY_UI_IMAGE:-{{ takel_ship_registry_ui_image['name'] }}:{{ takel_ship_registry_ui_image['tag'] }}}
    restart: ${TAKELSHIP_REGISTRY_UI_RESTART:-{{ takel_ship_registry_restart }}}
    environment:
      TZ: Europe/Amsterdam
    ports:
      - "${TAKELSHIP_REGISTRY_UI_HTTP_35080:-{{ takel_ship_registry_ui_http_35080['port'] }}}:8000"
    volumes:
      - ${TAKELSHIP_REGISTRY_UI_CONFIG_YML:-{{ takel_ship_compose_to_services_dir }}/{{ takel_ship_registry_ui_service['name'] }}/{{ takel_ship_registry_ui_script_config['name'] }}}:/opt/config.yml:ro
