---
services:
  {{ takel_ship_registry_takelship_registry_service['name'] }}-service:
    container_name: ${TAKELSHIP_REGISTRY_SERVER_CONTAINER_NAME:-{{ takel_ship_registry_takelship_registry_service['name'] }}}
    hostname: ${TAKELSHIP_REGISTRY_SERVER_HOSTNAME:-{{
    takel_ship_registry_takelship_registry_service['name'] }}}
    image: ${TAKELSHIP_REGISTRY_SERVER_IMAGE:-{{
    takel_ship_registry_server_image['name'] }}:{{
    takel_ship_registry_server_image['tag'] }}}
    profiles: {{
    takel_ship_registry_takelship_registry_service['profiles'] }}
    restart: ${TAKELSHIP_REGISTRY_SERVER_RESTART:-{{
    takel_ship_registry_restart }}}
    volumes:
      - ${TAKELSHIP_TAKELSHIP_REGISTRY_CACHE_DIR:-{{
      takel_ship_registry_to_cache_dir }}/{{
      takel_ship_registry_cache_dir }}}:/var/lib/registry
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "${TAKELSHIP_TAKELSHIP_REGISTRY_HTTP_5555:-{{ takel_ship_registry_takelship_registry_http_5555['port']
      }}}:5000"
