---
services:
  registry:
    container_name: takelship-registry
    hostname: takelship-registry
    image: {{ takel_ship_registry_server_image['name'] }}:{{ takel_ship_registry_server_image['tag'] }}
    restart: always
    volumes:
      - ../../{{ takel_ship_registry_cache_dir }}:/var/lib/registry
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ takel_ship_registry_takelship_registry_port['port'] }}:5000"
