unqualified-search-registries = ["docker.io"]

[aliases]
{% for service in takel_ship_compose_services %}
{% if 'images' in service %}
{% for image in service['images'] %}
{% if not image in takel_ship_registry_podman_images %}
"{{ image['alias'] }}" = "localhost:{{ takel_ship_registry_takelship_registry_port['port'] }}/{{ image['name'] }}"
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

[[registry]]
location = "localhost:{{ takel_ship_registry_takelship_registry_port['port'] }}"
insecure = true
