unqualified-search-registries = ["docker.io", "ghcr.io", "quay.io", "codeberg.org"]
short-name-mode = "permissive"

[[registry]]
location = "localhost:{{ takel_ship_registry_takelship_registry_http_5555['port'] }}"
insecure = true

[[registry]]
location = "localhost:{{ takel_ship_registry_server_http_35000['port'] }}"
insecure = true
