{{ takel_ship_scripts_shebang }}

POD={{ takel_ship_scripts_dir }}/{{ takel_ship_scripts_script_pod['name'] }}

# All images in the takelship registry
IMAGES=$(/usr/bin/curl \
         --silent \
         --request GET \
         http://localhost:{{
         takel_ship_registry_takelship_registry_http_5555['port']
         }}/v2/_catalog \
         | jq -r '.["repositories"][]')

# Pull images from takelship registry
while IFS= read -r IMAGE; do
  TAGS=$(/usr/bin/curl \
         --silent \
         --request GET \
         http://localhost:{{
         takel_ship_registry_takelship_registry_http_5555['port']
         }}/v2/$IMAGE/tags/list \
         | jq -r '.["tags"][]')
  while IFS= read -r TAG; do
    echo $POD podman pull localhost:{{
    takel_ship_registry_takelship_registry_http_5555['port']
    }}/$IMAGE:$TAG
    $POD podman pull localhost:{{
    takel_ship_registry_takelship_registry_http_5555['port']
    }}/$IMAGE:$TAG
    echo $POD podman tag localhost:{{
    takel_ship_registry_takelship_registry_http_5555['port']
    }}/$IMAGE:$TAG $IMAGE:$TAG
    $POD podman tag localhost:{{
    takel_ship_registry_takelship_registry_http_5555['port']
    }}/$IMAGE:$TAG $IMAGE:$TAG
  done <<< "$TAGS"
done <<< "$IMAGES"
