{{ takel_ship_scripts_shebang }}

IMAGE=$1

# Removing $IMAGE
podman image rm $IMAGE
podman image rm localhost:{{
  takel_ship_registry_takelship_registry_http_5555['port']
  }}/$IMAGE
skopeo delete localhost:{{
  takel_ship_registry_takelship_registry_http_5555['port']
  }}/$IMAGE
