{{ takel_ship_scripts_shebang }}

echo "Syncing images"

# touch a file to leave a trace
touch /tmp/images_sync

{{ takel_ship_registry_images_push['name'] }}
{{ takel_ship_registry_images_pull['name'] }}
