{{ takel_ship_scripts_shebang }}

# All images which can be cached
IMAGES=$(curl \
         --silent \
         --request GET \
         http://localhost:{{
         takel_ship_registry_takelship_registry_http_5555['port']
         }}/v2/_catalog \
         | jq -r '.["repositories"][]')

# List images in takelship registry
while IFS= read -r IMAGE; do
  TAGS=$(curl \
         --silent \
         --request GET \
         http://localhost:{{
         takel_ship_registry_takelship_registry_http_5555['port']
         }}/v2/$IMAGE/tags/list \
         | jq -r '.["tags"][]')
  while IFS= read -r TAG; do
    echo localhost:{{
    takel_ship_registry_takelship_registry_http_5555['port']
    }}/$IMAGE:$TAG
  done <<< "$TAGS"
done <<< "$IMAGES"
