{{ takel_ship_scripts_shebang }}

SYNC="${TAKELSHIP_IMAGES_SYNC:-'false'}"
SYNC="${SYNC,,}"
[[ "${SYNC}" == "false" ]] && exit

echo "Syncing images"

{{ takel_ship_scripts_dir }}/{{ takel_ship_registry_images_push['name'] }}
{{ takel_ship_scripts_dir }}/{{ takel_ship_registry_images_pull['name'] }}

# touch a file to leave a trace
touch /tmp/images_sync
