{{ takel_ship_scripts_shebang }}

{% if 'images' in takel_ship_compose_service %}
{% for image in takel_ship_compose_service['images'] %}
{% if not 'skip_copy' in image or not image['skip_copy'] %}
{% if 'arch' in image %}
if [[ "$(arch)" == "{{ image['arch'] }}" ]]; then
  echo Copying {{ image['name'] }}:{{ image['tag'] }}
  skopeo copy \
    docker://{{ image['name'] }}:{{ image['tag'] }} \
    docker://${TAKELSHIP_LOCAL_REGISTRY_HOST:-localhost}:${TAKELSHIP_LOCAL_REGISTRY_PORT:-{{ takel_ship_registry_takelship_registry_http_5555['port'] }}}/{{ image['name'] }}:{{ image['tag'] }}
fi
{% else %}
echo Copying {{ image['name'] }}:{{ image['tag'] }}
skopeo copy \
  docker://{{ image['name'] }}:{{ image['tag'] }} \
  docker://${TAKELSHIP_LOCAL_REGISTRY_HOST:-localhost}:${TAKELSHIP_LOCAL_REGISTRY_PORT:-{{ takel_ship_registry_takelship_registry_http_5555['port'] }}}/{{ image['name'] }}:{{ image['tag'] }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
