services:
  takelship:
    image: {{ project['images']['project']['target_user'] }}/{{ project['images']['project']['target_repo'] }}
    ##################################
    ### takelage debug image
    ###
    # image: {{ project['local_user'] }}/{{ project['name'] }}-project
    ###
    ##################################
    container_name: takelship
    hostname: takelship
    ##################################
    ###
    # entrypoint: /usr/bin/tail -f /dev/null
    ###
    ### run entrypoint script manually
    ###
    ### usually you run as a single command:
    ###   $ docker compose down; \
    ###     docker compose up; \
    ###     docker compose down
    ###
    ### to debug you start it instead with:
    ###   $ docker run -it --rm --privileged \
    ###     --hostname takelship --name takelship \
    ###     --entrypoint bash \
    ###     packer_local/takelship-project:latest
    ###
    ### then inside the container you run:
    ###   root@takelship:~# TAKELSHIP_DEBUG=true /entrypoint
    ###
    ##################################
    privileged: true
    environment:
      TAKELSHIP_PROJECT: default
    ###
    #  TAKELSHIP_DEBUG: false
    ### enables debug logging to stdout
    #  TAKELSHIP_UPDATE:
    ### controls updates of compose filese in the compose dir
    ### see {{ takel_ship_compose_home_dir }}/{{ takel_ship_compose_data_dir }}/{{ takel_ship_compose_compose_dir }}/<service>/env
    ### for service specific environment variables
    ###
    volumes:
      - ${TAKELSHIP_DATADIR:-./data}:{{ takel_ship_compose_home_dir }}/{{ takel_ship_compose_data_dir }}
    ports:
{% for service in takel_ship_compose_services %}
{% if not service['name'] == 'takelship-registry' %}
{% if 'ports' in service %}
{% for port in service['ports'] %}
      - "127.0.0.1:{{ port['port'] }}:{{ port['port'] }}"  #  {{ service['name'] }} {{ port['protocol'] }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
