{{ takel_ship_scripts_shebang }}

{% for project in takel_ship_compose_projects %}
{% if project['name'] == takel_ship_compose_project['name'] %}
{% for service in project['services'] %}
{% if 'images' in service %}
{% for image in service['images'] %}
{% if image in takel_ship_registry_takelship_images %}
{{ '#' }} echo Downloading {{ image['name'] }}:{{ image['tag'] }}
{{ '#' }} skopeo copy \
{{ '#' }}    docker://{{ image['name'] }}:{{ image['tag'] }} \
{{ '#' }}    docker://${TAKELSHIP_LOCAL_REGISTRY_HOST:-localhost}:${TAKELSHIP_LOCAL_REGISTRY_PORT:-{{ takel_ship_registry_takelship_registry_port['port'] }}}/{{ image['name'] }}:{{ image['tag'] }}
{% else %}
echo {{ takel_ship_entrypoint_log_prefix }} Downloading {{ image['name'] }}:{{ image['tag'] }}
skopeo copy \
  docker://{{ image['name'] }}:{{ image['tag'] }} \
  docker://${TAKELSHIP_LOCAL_REGISTRY_HOST:-localhost}:${TAKELSHIP_LOCAL_REGISTRY_PORT:-{{ takel_ship_registry_takelship_registry_port['port'] }}}/{{ image['name'] }}:{{ image['tag'] }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
