{{ takel_ship_scripts_shebang }}

{% for service in takel_ship_compose_project['services'] %}
{% if 'images' in service %}
{% for image in service['images'] %}
{% if image not in takel_ship_registry_takelship_images %}
SERVICE_ENABLED="$TAKELSHIP_SERVICE_{{ service['name'] | upper | replace("-", "_") }}"
SERVICE_ENABLED="${SERVICE_ENABLED:-'false'}"
SERVICE_ENABLED="${SERVICE_ENABLED,,}"
if [[ "$SERVICE_ENABLED" != "false" ]]; then
{% if 'arch' in image %}
  if [[ "$(arch)" == "{{ image['arch'] }}" ]]; then
    echo Copying {{ image['name'] }}:{{ image['tag'] }}
    skopeo copy \
      docker://{{ image['name'] }}:{{ image['tag'] }} \
      docker://localhost:{{ takel_ship_registry_takelship_registry_http_5555['port'] }}/{{ image['name'] }}:{{ image['tag'] }}
  fi
{% else %}
  echo Copying {{ image['name'] }}:{{ image['tag'] }}
  skopeo copy \
    docker://{{ image['name'] }}:{{ image['tag'] }} \
    docker://localhost:{{ takel_ship_registry_takelship_registry_http_5555['port'] }}/{{ image['name'] }}:{{ image['tag'] }}
{% endif %}
fi
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
