{{ takel_ship_scripts_shebang }}

# This files replaces the default ports
# in the env-docker environment files
# of each service of the {{ takel_ship_compose_project['name'] }} project
# with the ports of the ship cli configuration

SERVICES_DIR={{ takel_ship_compose_home_dir }}/{{ takel_ship_compose_dist_dir }}/{{ takel_ship_compose_compose_dir }}/{{ takel_ship_compose_services_dir }}

# echo Service: {{ takel_ship_registry_takelship_registry_service['name'] }}
ENV_FILE=$SERVICES_DIR/{{ takel_ship_registry_takelship_registry_service['name'] }}/{{ takel_ship_compose_env_docker }}
SHIP_PORT=$TAKELSHIP_SHIP_PORTS_{{ takel_ship_registry_takelship_registry_service['name'] | upper | replace('-', '_') }}_{{ takel_ship_registry_takelship_registry_http_5555['protocol'] | upper }}_{{ takel_ship_registry_takelship_registry_http_5555['port'] | upper }}
ENV_VAR_PORT=TAKELSHIP_{{ takel_ship_registry_takelship_registry_service['name'] | upper | replace('-', '_') }}_{{ takel_ship_registry_takelship_registry_http_5555['protocol'] | upper }}_{{ takel_ship_registry_takelship_registry_http_5555['port'] | upper }}
if [ -n "${SHIP_PORT}" ]; then
  sed -i s"/^.*$ENV_VAR_PORT.*$/$ENV_VAR_PORT=$SHIP_PORT/" $ENV_FILE
fi

{% for service in takel_ship_compose_project['services'] %}
{% if 'docker' in service['profiles'] %}
{% if 'env' in service %}
# echo Service: {{ service['name'] }}
ENV_FILE=$SERVICES_DIR/{{ service['name'] }}/{{ takel_ship_compose_env_docker }}
SHIP_PORT=$TAKELSHIP_SHIP_PORTS_{{ takel_ship_registry_takelship_registry_service['name'] | upper | replace('-', '_') }}_{{ takel_ship_registry_takelship_registry_http_5555['protocol'] | upper }}_{{ takel_ship_registry_takelship_registry_http_5555['port'] | upper }}
if [ -n "${SHIP_PORT}" ]; then
  sed -Ei s"/IMAGE=localhost:[0-9]+/IMAGE=localhost:$SHIP_PORT/" $ENV_FILE
fi
{% for port in service['ports'] | default([]) %}
# takelship port: {{ port['port'] }}
SHIP_PORT=$TAKELSHIP_SHIP_PORTS_{{ service['name'] | upper | replace('-', '_') }}_{{ port['protocol'] | upper }}_{{ port['port'] | upper }}
ENV_VAR_PORT=TAKELSHIP_{{ service['name'] | upper | replace('-', '_') }}_{{ port['protocol'] | upper }}_{{ port['port'] | upper }}
if [ -n "${SHIP_PORT}" ]; then
  sed -i s"/^.*$ENV_VAR_PORT.*$/$ENV_VAR_PORT=$SHIP_PORT/" $ENV_FILE
fi
{% endfor %}

{% endif %}
{% endif %}
{% endfor %}
