{{ takel_ship_scripts_shebang }}

DEBUG="${TAKELSHIP_DEBUG:-'false'}"
DEBUG="${DEBUG,,}"

# silence podman compose errors by default which are misleading
MUTE='2> /dev/null'
[[ "$DEBUG" == "true" ]] && MUTE=''

{% for service in takel_ship_compose_project['services'] %}
{% if 'podman' in service['profiles'] %}
SERVICE_ENABLED="${TAKELSHIP_SERVICE_{{ service['name'] | upper | replace("-", "_") }}:-true}"
if [[ "$SERVICE_ENABLED" == "true" ]]; then
{% if 'preinstall' in service %}
  {{ takel_ship_compose_to_services_dir }}/{{ service['name'] }}/{{ takel_ship_compose_run_preinstall }} {{ takel_ship_compose_project['name'] }}
{% endif %}

{% if 'instances' in service %}
{% for runner in range(1, service['instances'] + 1) %}
{% if 'nonroot' in service and service['nonroot'] %}
  PODMAN_USERNS=keep-id podman-compose --in-pod=false --profile podman \
{% else %}
  podman-compose --profile podman \
{% endif %}
    up {{ service['name'] }}-{{ runner }}-service -d $MUTE
{% endfor %}
{% else %}
{% if 'nonroot' in service and service['nonroot'] %}
  PODMAN_USERNS=keep-id podman-compose --in-pod=false --profile podman \
{% else %}
  podman-compose --profile podman \
{% endif %}
    up {{ service['name'] }}-service -d $MUTE
{% endif %}

{% if 'postinstall' in service %}
  {{ takel_ship_compose_to_services_dir }}/{{ service['name'] }}/{{ takel_ship_compose_run_postinstall }} {{ takel_ship_compose_project['name'] }}
{% endif %}
fi

{% endif %}
{% endfor %}
