{{ takel_ship_scripts_shebang }}

{% for service in takel_ship_compose_project['services'] %}
{% if 'podman' in service['profiles'] %}
SERVICE_ENABLED="${TAKELSHIP_SERVICE_{{ service['name'] | upper | replace("-", "_") }}:-true}"
if [[ "$SERVICE_ENABLED" == "true" ]]; then
  if [ -d {{ takel_ship_compose_to_services_dir }}/{{ service['name'] }}/{{ takel_ship_compose_preinstall_dir }} ]; then
    for f in {{ takel_ship_compose_to_services_dir }}/{{ service['name'] }}/{{ takel_ship_compose_preinstall_dir }}/*; do
      if [ -r "$f" ]; then
        bash "$f" {{ takel_ship_compose_project['name'] }}
      fi
    done
  fi

{% if 'instances' in service %}
{% for runner in range(1, service['instances'] + 1) %}
{% if 'nonroot' in service and service['nonroot'] %}
  PODMAN_USERNS=keep-id podman-compose --in-pod=false --profile podman \
{% else %}
  podman-compose --project takelship --profile podman \
{% endif %}
    up {{ service['name'] }}-{{ runner }}-service -d 2> /dev/null
{% endfor %}
{% else %}
{% if 'nonroot' in service and service['nonroot'] %}
  PODMAN_USERNS=keep-id podman-compose --in-pod=false --project takelship --profile podman \
{% else %}
  podman-compose --project takelship --profile podman \
{% endif %}
    up {{ service['name'] }}-service -d 2> /dev/null
{% endif %}
  if [ -d {{ takel_ship_compose_to_services_dir }}/{{ service['name'] }}/{{ takel_ship_compose_postinstall_dir }} ]; then
    for f in {{ takel_ship_compose_to_services_dir }}/{{ service['name'] }}/{{ takel_ship_compose_postinstall_dir }}/*; do
      if [ -r "$f" ]; then
        bash "$f" {{ takel_ship_compose_project['name'] }}
      fi
    done
  fi
fi

{% endif %}
{% endfor %}
