{{ takel_ship_scripts_shebang }}

docker compose \
{% for service in takel_ship_compose_project['services'] %}
  --env-file {{ takel_ship_compose_to_services_dir }}/{{ service['name'] }}/{{ takel_ship_compose_env_docker }} \
{% endfor %}
  up -d
