{{ takel_ship_scripts_shebang }}

{% for service in takel_ship_compose_project['services'] %}
{% if 'nonroot' in service and service['nonroot'] %}
{{ takel_ship_scripts_script_compose_nonroot['name'] }} \
{% else %}
podman-compose \
{% endif %}
{% if 'instances' in service %}
  --file {{ takel_ship_compose_service_filename }}.{{ takel_ship_compose_project['name'] }}.{{
  takel_ship_compose_service_fileext }} up \
{% for instance in range(service['instances']) %}
    {{ service['name'] }}-{{ instance }} \
{% endfor %}
  -d
{% else %}
 --file {{ takel_ship_compose_service_filename }}.{{ takel_ship_compose_project['name'] }}.{{
  takel_ship_compose_service_fileext }} up {{ service['name'] }} -d
{% endif %}
{% endfor %}
