{{ takel_ship_scripts_shebang }}

{% if 'nonroot' in takel_ship_compose_service and takel_ship_compose_service['nonroot'] %}
PODMAN_USERNS=keep-id podman-compose --in-pod=false \
{% else %}
podman-compose \
{% endif %}
  up -d
{% if 'postinstall' in takel_ship_compose_service %}
./{{ takel_ship_compose_run_postinstall }}
{% endif %}
