---
services:
{% for runner in range(1, takel_ship_forgejo_runner_service['instances'] + 1) %}
  {{ takel_ship_forgejo_runner_service['name'] }}-{{ runner }}-service:
    container_name: ${TAKELSHIP_FORGEJO_RUNNER_CONTAINER_NAME:-{{
    takel_ship_forgejo_runner_service['name'] }}}-{{ runner }}
    hostname: ${TAKELSHIP_FORGEJO_RUNNER_HOSTNAME:-{{
    takel_ship_forgejo_runner_service['name'] }}}-{{ runner }}
    image: ${TAKELSHIP_FORGEJO_RUNNER_IMAGE:-{{
    takel_ship_forgejo_runner_image['alias'] }}:{{
    takel_ship_forgejo_runner_image['tag'] }}}
    profiles: {{ takel_ship_forgejo_runner_service['profiles'] }}
    environment:
      DOCKER_HOST: tcp://localhost:{{
      (takel_ship_forgejo_runner_service['dind'] + runner - 1) }}:2376
      DOCKER_CERT_PATH: ''
      DOCKER_TLS_VERIFY: '0'
    user: 1000:1000
    volumes:
      - {{ takel_ship_compose_to_services_dir }}/{{
      takel_ship_forgejo_runner_service['name'] }}/data-{{
      runner }}:/data
    restart: 'always'
    command: /bin/sh -c ${TAKELSHIP_FORGEJO_RUNNER_COMMAND:-{{
    takelship_forgejo_runner_command_daemon }}}
{% endfor %}
