---
services:
  {{ takel_ship_forgejo_server_service['name'] }}:
    container_name: ${TAKELSHIP_FORGEJO_SERVER_CONTAINER_NAME:-{{ takel_ship_forgejo_server_service['name'] }}}
    hostname: ${TAKELSHIP_FORGEJO_SERVER_HOSTNAME:-{{ takel_ship_forgejo_server_service['name'] }}}
    image: ${TAKELSHIP_FORGEJO_SERVER_IMAGE:-{{ takel_ship_forgejo_server_image['alias'] }}:{{ takel_ship_forgejo_server_image['tag'] }}}
    restart: ${TAKELSHIP_FORGEJO_SERVER_RESTART:-always}
    user: "${TAKELSHIP_FORGEJO_SERVER_UID:-{{ takel_ship_forgejo_uid }}}:${TAKELSHIP_FORGEJO_SERVER_GID:-{{ takel_ship_forgejo_gid }}}"
    environment:
      - FORGEJO__server__ROOT_URL=${TAKELSHIP_FORGEJO_SERVER_ROOT_URL:-{{ takel_ship_forgejo_server_root_url }}}
      - FORGEJO__security__INSTALL_LOCK=true
      - FORGEJO__actions__ENABLED=true
    ports:
      - "${TAKELSHIP_FORGEJO_SERVER_HTTP_33000:-{{ takel_ship_forgejo_server_http_33000['port'] }}}:3000"
      - "${TAKELSHIP_FORGEJO_SERVER_SSH_30022:-{{ takel_ship_forgejo_server_ssh_30022['port'] }}}:22"
    volumes:
      - ${TAKELSHIP_FORGEJO_SERVER_DATA_DIR:-{{ takel_ship_compose_to_services_dir }}/{{ takel_ship_forgejo_server_service['name'] }}/data}:/var/lib/gitea
      - ${TAKELSHIP_FORGEJO_SERVER_CONF_DIR:-{{ takel_ship_compose_to_services_dir }}//{{ takel_ship_forgejo_server_service['name'] }}/conf}:/etc/gitea
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
