---
services:
  {{ takel_ship_forgejo_runner_service['name'] }}:
    container_name: ${TAKELSHIP_FORGEJO_RUNNER_CONTAINER_NAME:-{{ takel_ship_forgejo_runner_service['name'] }}}
    hostname: ${TAKELSHIP_FORGEJO_RUNNER_HOSTNAME:-{{ takel_ship_forgejo_runner_service['name'] }}}
    image: ${TAKELSHIP_FORGEJO_RUNNER_IMAGE:-{{ takel_ship_forgejo_runner_image['alias'] }}:{{ takel_ship_forgejo_runner_image['tag'] }}}
    environment:
      DOCKER_HOST: tcp://{{ takel_ship_dind_docker_service['name'] }}:2375
    # user without root privileges, but with access to ./data
    user: 1000:1000
    volumes:
      - ../{{ takel_ship_forgejo_runner_service['name'] }}/data:/data
    restart: 'always'
    command: '/bin/sh -c "while : ; do sleep 1 ; done ;"'
