---
services:
  {{ takel_ship_forgejo_runner_service['name'] }}:
    container_name: ${TAKELSHIP_FORGEJO_RUNNER_CONTAINER_NAME:-{{ takel_ship_forgejo_runner_service['name'] }}}
    hostname: ${TAKELSHIP_FORGEJO_RUNNER_HOSTNAME:-{{ takel_ship_forgejo_runner_service['name'] }}}
    image: ${TAKELSHIP_FORGEJO_RUNNER_IMAGE:-{{ takel_ship_forgejo_runner_image['alias'] }}:{{ takel_ship_forgejo_runner_image['tag'] }}}
    links:
      - {{ takel_ship_dind_docker_service['name'] }}
    depends_on:
      {{ takel_ship_dind_docker_service['name'] }}:
        condition: service_started
    environment:
      DOCKER_HOST: tcp://{{ takel_ship_dind_docker_service['name'] }}:{{ takel_ship_dind_docker_port['port'] }}
    # user without root privileges, but with access to ./data
    user: 1000:1000
    volumes:
      - ../{{ takel_ship_forgejo_runner_service['name'] }}/data:/data
    restart: 'unless-stopped'
    command: '/bin/sh -c "while : ; do sleep 1 ; done ;"'