{{ takel_ship_scripts_shebang }}

mount / --make-rshare
cd /home/podman
if [ $# -eq 0 ]; then
  CONTAINER_COMMAND="podman exec -it forgejo forgejo --help"
else
  FORGEJO_COMMAND="su git -c 'forgejo $@'"
  CONTAINER_COMMAND="podman exec -it forgejo bash -c \"$FORGEJO_COMMAND\""
fi
{{ takel_ship_scripts_script_pod['name'] }} "$CONTAINER_COMMAND"
