{{ takel_ship_scripts_shebang }}

if [[ "$(whoami)" == "{{ takel_ship_podman_user['owner'] }}" ]]; then
  WRAPPER=""
else
  WRAPPER={{ takel_ship_scripts_script_pod['name'] }}
  mount / --make-rshare
fi

cd {{ takel_ship_compose_home_dir }}

if [ $# -eq 0 ]; then
  $WRAPPER podman exec -it --user git {{ takel_ship_forgejo_server_service['name'] }} forgejo --help
else
  $WRAPPER podman exec -it --user git {{ takel_ship_forgejo_server_service['name'] }} forgejo $@
fi
