{{ takel_ship_scripts_shebang }}

echo Running {{ takel_ship_forgejo_server_service['name'] }} postinstallation

# update the tea host config file
# with the current port configuration and exit
echo Updating tea configuration file
sed s/33000/$TAKELSHIP_SHIP_PORTS_FORGEJO_SERVER_HTTP_33000/ {{
  takel_ship_forgejo_script_tea_config['path'] }}/{{
  takel_ship_forgejo_script_tea_config['name'] }} > {{
  takel_ship_compose_home_dir }}/{{
  takel_ship_compose_data_dir }}/{{
  takel_ship_compose_compose_dir }}/{{
  takel_ship_compose_services_dir }}/{{
  takel_ship_forgejo_server_service['name'] }}/{{
  takel_ship_forgejo_script_tea_config['name'] }}

# wait until the server is up
RETRY=1
while ! forgejo admin user list &> /dev/null; do
  echo Forgejo server not ready. Retrying in a second...
  sleep 1
  [ "$RETRY" -ge 20 ] && break
  ((RETRY++))
done

echo Creating forgejo admin account
forgejo admin user create \
  --admin \
  --username ${TAKELSHIP_FORGEJO_SERVER_ADMIN_NAME:-{{ takel_ship_forgejo_admin['name'] }}} \
  --password ${TAKELSHIP_FORGEJO_SERVER_ADMIN_PASSWORD:-{{ takel_ship_forgejo_admin['password'] }}} \
  --email ${TAKELSHIP_FORGEJO_SERVER_ADMIN_EMAIL:-{{ takel_ship_forgejo_admin['email'] }}} \
  >/dev/null 2>&1

echo Creating forgejo access token
UNIQUE=$(tr -dc A-Za-z0-9 </dev/urandom | head -c 10)
FORGEJO_TOKEN=$(forgejo admin user generate-access-token \
  --token-name fortea_$UNIQUE \
  --username {{ takel_ship_forgejo_admin['name'] }} \
  --scopes all \
  --raw)

echo Creating tea configuration files
sed -i s/TOKEN/$FORGEJO_TOKEN/ {{
  takel_ship_forgejo_script_tea_config['path'] }}/{{
  takel_ship_forgejo_script_tea_config['name'] }}
sed -i s/DATETIME/$(date +%s)/ {{
  takel_ship_forgejo_script_tea_config['path'] }}/{{
  takel_ship_forgejo_script_tea_config['name'] }}
sed s/33000/$TAKELSHIP_SHIP_PORTS_FORGEJO_SERVER_HTTP_33000/ {{
  takel_ship_forgejo_script_tea_config['path'] }}/{{
  takel_ship_forgejo_script_tea_config['name'] }} > {{
  takel_ship_compose_home_dir }}/{{
  takel_ship_compose_data_dir }}/{{
  takel_ship_compose_compose_dir }}/{{
  takel_ship_compose_services_dir }}/{{
  takel_ship_forgejo_server_service['name'] }}/{{
  takel_ship_forgejo_script_tea_config['name'] }}

echo Generating an ssh key pair for the forgejo admin account
{{ takel_ship_forgejo_script_fortea_generate_ssh_key['name'] }}

echo Forgejo admin ssh public key: {{ takel_ship_forgejo_server_ssh_key['public_key_file'] }}
echo Forgejo admin ssh private key: {{ takel_ship_forgejo_server_ssh_key['private_key_file'] }}

# read SSH_KEY
SSH_KEY="$(cat "{{ takel_ship_forgejo_server_ssh_key['public_key_file'] }}")"
# trim SSH_KEY
SSH_KEY="${SSH_KEY%[$'\r\t\n ']}"

echo Adding forgejo admin ssh public key to the forgejo admin account
echo "Use {{ takel_ship_forgejo_script_fortea_add_ssh_key['name'] }} <key> to add your own key"
{{ takel_ship_forgejo_script_fortea_add_ssh_key['name'] }} $SSH_KEY
