logins:
  - name: takelship
    url: http://localhost:33000
    token: TOKEN
    default: false
    ssh_host: localhost
    ssh_key: ""
    insecure: true
    user: administrator
    created: DATETIME
preferences:
  editor: false
  flag_defaults:
    remote: ""
