{{ takel_ship_compose_script_takelship_compose_docker['name'] }}
{{ takel_ship_scripts_script_first_aid['name'] }}
{{ takel_ship_scripts_script_cli['name'] }}
{{ takel_ship_scripts_script_pod['name'] }} shell
