---
networks:
  {{ takel_pod_forgejo_service['name'] }}:
    external: false

services:
  {{ takel_pod_forgejo_service['name'] }}:
    image: {{ takel_pod_forgejo_image['alias'] }}:{{ takel_pod_forgejo_image['tag'] }}
    container_name: {{ takel_pod_forgejo_service['name'] }}
    environment:
      - USER_UID={{ takel_pod_forgejo_uid }}
      - USER_GID={{ takel_pod_forgejo_gid }}
    restart: {{ takel_pod_forgejo_restart }}
    networks:
      - {{ takel_pod_forgejo_service['name'] }}
    volumes:
      - ./{{ takel_pod_services_include }}data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ takel_pod_forgejo_http_port }}:3000"
      - "{{ takel_pod_forgejo_ssh_port }}:22"
