---
services:
  {{ takel_ship_aptproxy_service['name'] }}:
    container_name: ${TAKELSHIP_APTPROXY_CONTAINER_NAME:-{{ takel_ship_aptproxy_service['name'] }}}
    hostname: ${TAKELSHIP_APTPROXY_HOSTNAME:-{{ takel_ship_aptproxy_service['name'] }}}
    image: ${TAKELSHIP_APTPROXY_IMAGE:-{{ takel_ship_aptproxy_image['alias'] }}:{{ takel_ship_aptproxy_image['tag'] }}}
    restart: ${TAKELSHIP_APTPROXY_RESTART:-always}
    command: ${TAKELSHIP_APTPROXY_COMMAND:--cachedir /data}
    environment:
      - TZ=${TAKELSHIP_APTPROXY_TIMEZONE:-Europe/Amsterdam}
    ports:
      - "${TAKELSHIP_APTPROXY_HTTP_PORT:-{{ takel_ship_aptproxy_http_port['port'] }}}:3142"
    volumes:
      - ${TAKELSHIP_APTPROXY_DATA_DIR:-{{ takel_ship_compose_to_services_dir }}/{{ takel_ship_aptproxy_service['name'] }}/data}:/data
