{{ takel_ship_scripts_shebang }}

# Read more about bash string interpolation here:
# https://docs.docker.com/compose/how-tos/environment-variables/variable-interpolation/
DEBUG="${TAKELSHIP_DEBUG:-"false"}"
DEBUG="${DEBUG,,}"
debug() {
  # if the debug environment variable is set
  # then output all command line arguments
  [[ "$DEBUG" == "true" ]] && echo "$@"
}

echo {{ takel_ship_entrypoint_log_prefix }} This is a takelwerk takelship container
echo {{ takel_ship_entrypoint_log_prefix }} Image: {{ project['images']['project']['target_user'] }}/{{ project['images']['project']['target_repo'] }}:{{ project['version'] }}
echo {{ takel_ship_entrypoint_log_prefix }} More info: https://github.com/takelwerk/takelship

if [ -z "$1" ] || [[ "$1" == "/bin/bash" ]]; then
  echo {{ takel_ship_entrypoint_log_prefix }} No project selected. Available projects:
  {{ takel_ship_scripts_script_first_aid['name'] }}
  exit
fi

PROJECT="$1"
debug project is set to "$PROJECT"

if [[ "$PROJECT" != "update" ]] &&
{% for project in takel_ship_compose_projects %}
  [[ "$PROJECT" != {{ project['name'] }} ]] &&
{% endfor %}
  true; then
  echo {{ takel_ship_entrypoint_log_prefix }} There is no project: "$PROJECT"
  {{ takel_ship_scripts_script_first_aid['name'] }}
  exit
fi

echo {{ takel_ship_entrypoint_log_prefix }} Preparing podman container environment

debug export takelship environment variables
{{ takel_ship_entrypoint_script_export_envvars['name'] }} "$(env)"

UPDATE="false"

debug check if we have to prepopulate the data dir
[ ! -e "{{takel_ship_compose_home_dir}}/{{ takel_ship_compose_data_dir }}/{{ takel_ship_compose_compose_dir }}/{{ takel_ship_compose_projects_dir }}" ] && UPDATE="true"

UPDATE="${TAKELSHIP_UPDATE:-$UPDATE}"
UPDATE="${UPDATE,,}"

debug make sure that the data dir exists
mkdir --parents {{takel_ship_compose_home_dir}}/{{ takel_ship_compose_data_dir }}

if [[ "$UPDATE" == "true" ]] || [[ "$PROJECT" == "update" ]]; then
  echo {{ takel_ship_entrypoint_log_prefix }} Updating data directory
  cp --recursive /home/podman/dist/* /home/podman/data
fi

debug change podman uid and git and chown data dir
{{ takel_ship_entrypoint_script_change_ids['name'] }}

[[ "$PROJECT" == "update" ]] && exit

# From here on non-privileged containers will fail

debug suppress warning message about shared mount
mount / --make-rshare

# start registry
echo {{ takel_ship_entrypoint_log_prefix }} Starting local registry on localhost:{{ takel_ship_registry_takelship_registry_port['port'] }}
{{ takel_ship_scripts_script_cmd['name'] }} mkdir --parents {{ takel_ship_compose_data_dir }}/{{ takel_ship_registry_cache_dir }}
{{ takel_ship_scripts_script_cmd['name'] }} \
  --workdir {{ takel_ship_compose_home_dir }}/{{ takel_ship_compose_data_dir }}/{{ takel_ship_compose_compose_dir }}/takelship-registry \
  podman-compose --file {{ takel_ship_compose_service_filename }}.{{ takel_ship_compose_service_fileext }} up -d

# copy images
echo {{ takel_ship_entrypoint_log_prefix }} Downloading images for project: $PROJECT
{{ takel_ship_scripts_script_cmd['name'] }} "{{takel_ship_compose_home_dir}}/{{ takel_ship_compose_data_dir }}/{{ takel_ship_compose_compose_dir }}/{{ takel_ship_compose_projects_dir }}/download-$PROJECT"

# start project
{{ takel_ship_scripts_script_cmd['name'] }} --workdir {{takel_ship_compose_home_dir}}/{{ takel_ship_compose_data_dir }}/{{ takel_ship_compose_compose_dir }} podman-compose --file "{{takel_ship_compose_home_dir}}/{{ takel_ship_compose_data_dir }}/{{ takel_ship_compose_compose_dir }}/{{ takel_ship_compose_projects_dir }}/{{ takel_ship_compose_service_filename}}.$PROJECT.yml" up -d

# show logs
echo {{ takel_ship_entrypoint_log_prefix }} Boarding podman compose logs
while true; do {{ takel_ship_scripts_script_cmd['name'] }} --workdir {{takel_ship_compose_home_dir}}/{{ takel_ship_compose_data_dir }}/{{ takel_ship_compose_compose_dir }} podman-compose --file "{{takel_ship_compose_home_dir}}/{{ takel_ship_compose_data_dir }}/{{ takel_ship_compose_compose_dir }}/{{ takel_ship_compose_projects_dir }}/{{ takel_ship_compose_service_filename}}.$PROJECT.yml" logs --follow 2>/dev/null; done
