{{ takel_ship_scripts_shebang }}

PROFILE_FILE={{ takel_ship_entrypoint_profile_file }}

for ENVVAR in ${1}; do
  # if ENVVAR starts with TAKELSHIP_ append it to PROFILE_FILE
  [[ "$ENVVAR" == TAKELSHIP_* ]] && echo export $ENVVAR >> $PROFILE_FILE
done
