{{ takel_ship_scripts_shebang }}

echo "this is $0"
echo from {{ takel_ship_entrypoint_script_export_envvars['template'] }}
echo ::: TAKELSHIP_BANANA: $TAKELSHIP_BANANA :::
echo ::: ENV_PARAMETER: $1 :::
