#{{ takel_ship_scripts_shebang }}

echo
{% for project in takel_ship_compose_projects %}
echo '== Project: {{ project['name'] }}'
echo '= {{ project['description'] }}'
echo "\
docker run \
--rm \
--interactive \
--tty \
--name takelship \
--hostname takelship \
--privileged \
--publish \"127.0.0.1:{{ takel_ship_dind_docker_32375['port'] }}:{{ takel_ship_dind_docker_32375['port'] }}\" \
{% for service in project['services'] %}
{% for port in service['ports'] | default([]) %}
--publish \"127.0.0.1:{{ port['port'] }}:{{ port['port'] }}\" \
{% endfor %}
{% endfor %}
--volume ./{{ takel_ship_compose_data_dir }}:{{ takel_ship_compose_home_dir }}/{{ takel_ship_compose_data_dir }} \
${TAKELSHIP_IMAGE:-takelwerk/takelship} {{ project['name'] }}"
echo
{% endfor %}
