#{{ takel_ship_scripts_shebang }}

echo
{% for project in takel_ship_compose_projects %}
echo '== Project: {{ project['name'] }}'
echo '= {{ project['description'] }}'
echo "\
mkdir -p data && \
docker run \
--rm \
--interactive \
--tty \
--name takelship \
--hostname takelship \
--privileged \
{% for service in project['services'] %}
{% for port in service['ports'] | default([]) %}
--publish \"127.0.0.1:{{ port['port'] }}:{{ port['port'] }}\" \
{% endfor %}
{% endfor %}
--volume ./data:{{ takel_ship_compose_home_dir }}/{{ takel_ship_compose_data_dir }} \
${TAKELSHIP_IMAGE:-takelwerk/takelship} {{ project['name'] }}"
echo
{% endfor %}
echo '== Project: update'
echo '= Update service files and run scripts in data directory.'
echo "\
mkdir -p data && \
docker run \
--rm \
--interactive \
--tty \
--volume ./data:{{ takel_ship_compose_home_dir }}/{{ takel_ship_compose_data_dir }} \
${TAKELSHIP_IMAGE:-takelwerk/takelship} update"
