---
name: teamcity

services:
  teamcity:
    container_name: ${TAKELSHIP_TEAMCITY_CONTAINER_NAME:-teamcity}
    hostname: ${TAKELSHIP_TEAMCITY_HOSTNAME:-teamcity}
    image: ${TAKELSHIP_TEAMCITY_IMAGE_SERVER:-{{ takel_ship_teamcity_server_image['alias'] }}:{{ takel_ship_teamcity_server_image['tag'] }}}
    restart: ${TAKELSHIP_TEAMCITY_RESTART:-{{ takel_ship_teamcity_restart }}}
    ports:
        - "${TAKELSHIP_TEAMCITY_HTTP_PORT:-{{ takel_ship_teamcity_http_port }}}:8111"
    volumes:
      - ${TAKELSHIP_TEAMCITY_DATA_DIR:-./teamcity-data}:/data/teamcity_server/datadir
      - ${TAKELSHIP_TEAMCITY_LOGS_DIR:-./teamcity-logs}:/opt/teamcity/logs
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

{% for agent in range(takel_ship_teamcity_agents) %}
  teamcity-agent-{{ agent }}:
    container_name: ${TAKELSHIP_TEAMCITY_CONTAINER_NAME:-teamcity}-agent-{{ agent }}
    hostname: ${TAKELSHIP_TEAMCITY_HOSTNAME:-teamcity}-agent-{{ agent }}
    image: ${TAKELSHIP_TEAMCITY_IMAGE_AGENT:-{{ takel_ship_teamcity_agent_image['alias'] }}:{{ takel_ship_teamcity_agent_image['tag'] }}}
    privileged: true
    environment:
      SERVER_URL: http://teamcity:8111
      DOCKER_IN_DOCKER: start
      AGENT_NAME: >-
        ${TAKELSHIP_TEAMCITY_CONTAINER_NAME:-teamcity}-agent-{{ agent }}
      AGENT_OPTS: ${TAKELSHIP_TEAMCITY_AGENT_OPTS:-"docker.server.osType=Linux docker.server.version=N/A teamcity.agent.os.family=Linux"}
{% endfor %}
