---
services:
{% for runner in range(takel_ship_teamcity_runner_service['instances']) %}
  {{ takel_ship_teamcity_runner_service['name'] }}-{{ runner + 1 }}:
    container_name: ${TAKELSHIP_TEAMCITY_RUNNER_CONTAINER_NAME:-{{ takel_ship_teamcity_runner_service['name'] }}}-{{ runner + 1 }}
    hostname: ${TAKELSHIP_TEAMCITY_RUNNER_HOSTNAME:-{{ takel_ship_teamcity_runner_service['name'] }}}-{{ runner + 1 }}
    image: ${TAKELSHIP_TEAMCITY_RUNNER_IMAGE:-{{ takel_ship_teamcity_runner_image['alias'] }}:{{ takel_ship_teamcity_runner_image['tag'] }}}
    privileged: true
    restart: ${TAKELSHIP_TEAMCITY_RESTART:-{{ takel_ship_teamcity_restart }}}
    environment:
      SERVER_URL: http://{{ takel_ship_teamcity_server_service['name'] }}:8111
      DOCKER_IN_DOCKER: start
      AGENT_NAME: >-
        ${TAKELSHIP_TEAMCITY_RUNNER_CONTAINER_NAME:-{{ takel_ship_teamcity_runner_service['name'] }}}-{{ runner + 1 }}
      AGENT_OPTS: ${TAKELSHIP_TEAMCITY_RUNNER_AGENT_OPTS:-"docker.server.osType=Linux docker.server.version=N/A teamcity.agent.os.family=Linux"}
{% endfor %}
