---
services:
{% for agent in range(takel_ship_teamcity_agents) %}
  teamcity-agent-{{ agent }}:
    container_name: ${TAKELSHIP_TEAMCITY_RUNNER_CONTAINER_NAME:-teamcity}-agent-{{ agent }}
    hostname: ${TAKELSHIP_TEAMCITY_RUNNER_HOSTNAME:-teamcity}-agent-{{ agent }}
    image: ${TAKELSHIP_TEAMCITY_RUNNER_IMAGE:-{{ takel_ship_teamcity_agent_image['alias'] }}:{{ takel_ship_teamcity_agent_image['tag'] }}}
    privileged: true
    restart: ${TAKELSHIP_TEAMCITY_RESTART:-{{ takel_ship_teamcity_restart }}}
    environment:
      SERVER_URL: http://teamcity-server:8111
      DOCKER_IN_DOCKER: start
      AGENT_NAME: >-
        ${TAKELSHIP_TEAMCITY_RUNNER_CONTAINER_NAME:-teamcity}-agent-{{ agent }}
      AGENT_OPTS: ${TAKELSHIP_TEAMCITY_RUNNER_AGENT_OPTS:-"docker.server.osType=Linux docker.server.version=N/A teamcity.agent.os.family=Linux"}
{% endfor %}
