{{ takel_ship_scripts_shebang }}

echo "Checking if archictecture is aarch64 (aka arm64)"
if [[ "$(arch)" == "aarch64" ]]; then
  echo "Changing TeamCity runner image to arm64"
  sed -i \
    s/linux-sudo/linux-arm64-sudo/g \
    {{ takel_ship_compose_to_services_dir }}/{{ takel_ship_teamcity_runner_service['name'] }}/{{ takel_ship_compose_docker_compose_yml }}
fi
