{{ takel_ship_scripts_shebang }}

echo Running {{ takel_ship_teamcity_runner_service['name'] }} postinstallation

echo Starting socat in {{ takel_ship_teamcity_runner_service['name'] }} container
{% for runner in range(1, takel_ship_teamcity_runner_service['instances'] + 1) %}
podman exec -it {{ takel_ship_forgejo_runner_service['instances'] }}-{{ runner }} sudo apt update
podman exec -it -d {{ takel_ship_forgejo_runner_service['instances'] }}-{{ runner }} socat tcp-listen:$TAKELSHIP_SHIP_PORTS_FORGEJO_SERVER_HTTP_33000,fork,reuseaddr tcp:forgejo-server:3000
{% endfor %}
